numpy
pandas
tqdm
ipywidgets
ffmpeg-python
datasets>=2.6.1
librosa
scikit-learn
evaluate
jiwer
gradio
notebook
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorflow-estimator==2.12.0
tensorflow-macos==2.12.0
tensorflow-metal==0.8.0
